
<div class="container">
   <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
         <h1>Products</h1>
         <%= link_to "Nuevo Producto", new_product_path, class:"btn btn-info pull-right" %>
         <table class="table">
            <thead>
               <tr>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Categorías</th>
               </tr>
            </thead>

            <% @products.each do |product| %>
               <tbody>
                  <tr>      
                     <td><%= product.name %></td>
                     <td><%= product.price %></td>

                     <% str = "" %>
                     <% product.categories.each do |category| %>
                        <% str << category.name + " " %>
                     <% end %>

                     <% arr = str.split %>
                     <td><%= phrase(arr) %></td>
                  </tr>
               </tbody>
            <% end %>
         </table>
      </div>
   </div>
</div>

